.conteine{ 
    width: 786px;
    height: auto;
    margin: 0 auto;
}



.card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: #333 1px;
    border-style: groove;
    margin-bottom: 16px;
}
.img-card{
    width: 200px;
    height: 200px;
    background-color: aquamarine;

}   
.text-card{
   width: 550px;
}
.img-card img{width: 100%;}
@media screen and (max-width: 500px){
    .card{
width: 100%;
flex-direction: column-reverse;

}
.img-card{width: 100%;}

.text-card{width: 100%;}
}
